h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(158, 64, 79);
}

header {
    text-align: center;
    background-color: rgb(252, 177, 189); 
    color: white; 
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
header:hover{
    transform: scale(1.03); 
background-color: rgb(209, 108, 125); 
}

hr {
    margin: 20px 0;
    border: 1px solid #ee31a5;
}

div {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ff11b8ea;
    border-radius: 5px;
  
}
.subsection1{
    
        margin: 20px;
        padding: 20px;
        background-color: #ffffff; 
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease, background-color 0.3s ease; 
        align-items: center;
  
}
.subsection1:hover {
    transform: scale(1.03); 
    background-color: rgb(252, 177, 189); 
}
.subsection2{
    
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 


}
.subsection2:hover {
transform: scale(1.03); 
background-color: rgb(252, 177, 189); 
}

.subsection3{
    
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 


}
.subsection3:hover {
transform: scale(1.03); 
background-color: rgb(252, 177, 189); 
}
h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}
